
.product-order-detail{
  border: 1px black solid;
  padding: 1rem;
  margin-bottom: 1.5rem;
  & span{
    display: block;
  }
}
// .container{
//   display: flex;
//   flex-wrap: wrap;
// }
// .product-detail{
//   flex: 1 1 15rem;

// }